h1:hover, p:hover {
    cursor: default;
}
body {
    margin-top: 20px;
}
.jumbotron {
    text-align: center;
    border-radius: 40px !important;
}
#lightbulb {
    padding-bottom: 20px;
    cursor: pointer;
    transition: 0.4s all ease;
}
/* slider */

#red-slider {
    background-color: red;
}
#green-slider {
    background-color: green;
}
#blue-slider {
    background-color: blue;
}
